---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Foto from "../img/photo.jpg";
import Atalia from "../img/ataliaLogo.png";
import { AtaliaMF } from "../components/ataliaFM";
import Forest from "../components/bgForest";
import Red from "../components/bgSport";
import Chile from "../img/chilexd.png";
import arrow from "../img/arrowDown.jpg";
import WorkoutSync from "../img/logoGrisNegro.jpg";
import { WorkoutsyncImg } from "../components/workoutsyncImg";
import Skills from "../components/Skills";
import resume from "../img/Resume.png";
import { lazy } from "react";
---

<Layout title="Portfolio">
  <section class="relative dark:text-white">
    <div id="start" class="flex justify-center pt-12">
      <div
        class="flex justify-center items-center w-60 h-auto overflow-hidden rounded-full border-[2px] antialiased"
      >
        <a
          href="https://www.linkedin.com/in/mat%C3%ADas-sep%C3%BAlveda-1914152a7/"
        >
          <Image src={Foto} loading="eager" alt="Foto de perfil" class="w-full h-auto" />
        </a>
      </div>
      <Image
        src={Chile}
        alt="Country"
        class="absolute w-10 h-auto top-[360px] sm:top-[360px] rounded-sm"
      />
    </div>
    <div class="flex justify-center pt-28">
      <h1
        class="text-center text-2xl xl:text-4xl bg-gradient-to-r from-stone-400 via-stone-500 to-stone-400 bg-clip-text text-transparent"
      >
        Matías Sepúlveda
      </h1>
    </div>
    <div class="flex justify-center pt-16">
      <h1
        class="text-center text-4xl md:text-7xl h-24 bg-gradient-to-r from-stone-400 via-stone-500 to-stone-400 bg-clip-text text-transparent"
      >
        Software Engineer
      </h1>
    </div>
    <div class="flex justify-center pt-16">
      <h1
        class="text-center text-xl xl:text-2xl px-5 sm:px-0 max-w-[490px] bg-gradient-to-r from-stone-400 via-stone-500 to-stone-400 bg-clip-text text-transparent text-pretty"
      >
        Passionate about crafting visually appealing interfaces and designing
        new software solutions.
      </h1>
    </div>
    <div class="flex justify-center">
      <div class="flex justify-around w-36 h-36">
        <a
          href="https://github.com/malygod"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex animate-pulse self-center"
          aria-label="GitHub"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="transform dark:text-white h-10 w-auto hover:text-zinc-700 duration-150 ease-out hover:scale-125"
            ><path
              d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
            ></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
          ></a
        >
      </div>
    </div>
  </section>
  <h1
    class="text-6xl text-center h-[24rem] py-24 animate-pulse bg-gradient-to-r from-stone-300 via-stone-500 to-stone-300 bg-clip-text text-transparent"
  >
    Experience
  </h1>

  <div id="experience" class="hidden sm:flex">
    <Forest />
  </div>

  <div
    class="relative grid xl:flex xl:px-[5%] 2xl:px-[10%] z-10 bg-stone-100 dark:bg-neutral-950"
  >
    <div
      class="pt-5 justify-center xl:pt-32 w-full sm:w-full md:w-full lg:w-full xl:w-2/4"
    >
      <div class="hidden justify-center xl:block">
        <div
          class="flex justify-center items-center w-28 h-28 overflow-hidden rounded-full antialiased"
        >
          <a href="https://www.linkedin.com/in/matias-sepúlveda-1914152a7">
            <Image
              src={Atalia}
              alt="Foto de perfil"
              class="w-full h-auto rounded-full"
            />
          </a>
        </div>
      </div>
      <div class="py-5">
        <h1
          class="dark:text-white text-center xl:text-left text-3xl xl:text-4xl"
        >
          Fullstack developer
        </h1>
      </div>
      <div class="w-full">
        <p
          class="px-[10%] lg:px-[20%] xl:px-0 dark:text-white text-center xl:text-left text-md xl:max-w-[500px]"
        >
          Revolutionized real estate operations at Inmobiliaria Atalia Limitada
          from Sept 2021 to Mar 2023 by designing, developing and implementing a
          web platform from zero. Enhanced efficiency with multiple
          functionalities for both staff and clients.
        </p>
      </div>
      <div></div>
    </div>
    <div class="w-full xl:flex z-0">
      <AtaliaMF />
    </div>
  </div>
  <div class="">
    <Forest />
  </div>
  <div class="flex justify-center z-50">
    <button>
      <details class="hidden">
        <summary class="flex pt-5 text-black animate-bounce justify-center"
          ><Image
            src={arrow}
            alt="flecha"
            class="w-10 h-auto"
            id="arrow"
          /></summary
        >
      </details>
    </button>
  </div>
  <h1
    class="text-6xl text-center py-48 bg-gradient-to-r from-stone-300 via-stone-500 to-stone-300 bg-clip-text text-transparent"
  >
    Projects
  </h1>
  <div id="projects" class="hidden sm:flex">
    <Red />
  </div>
  <div
    class="relative grid xl:flex xl:px-[5%] 2xl:px-[10%] z-10 bg-stone-100 dark:bg-neutral-950"
  >
    <div
      class="pt-5 justify-center xl:pt-24 w-full sm:w-full md:w-full lg:w-full xl:w-2/4"
    >
      <div class="hidden justify-center xl:block">
        <div
          class="flex justify-center items-center w-28 h-auto overflow-hidden rounded-full border-2 border-white antialiased"
        >
          <a href="https://www.linkedin.com/in/matias-sepúlveda-1914152a7">
            <Image
              src={WorkoutSync}
              alt="Foto de perfil"
              class="w-full h-auto rounded-full"
            />
          </a>
        </div>
      </div>
      <div class="py-5">
        <h1
          class="dark:text-white text-center xl:text-left text-3xl xl:text-4xl"
        >
          Workout Journey Project
        </h1>
      </div>
      <div class="w-full">
        <p
          class="px-[10%] lg:px-[20%] xl:px-0 dark:text-white text-center xl:text-left text-md xl:max-w-[500px]"
        >
          This personal project aims to redefine the individual experience of
          physical activity by providing streamlined access to initiate a
          personal sports journey. The ultimate goal is to empower users with
          tools to enhance their quality of life through their chosen physical
          activity, fostering a positive and lasting impact on personal
          well-being.
        </p>
      </div>
    </div>
    <div class="w-full xl:flex">
      <WorkoutsyncImg />
    </div>
  </div>
  <div class="z-0">
    <Red />
  </div>
  <div class="flex justify-center mt-10 z-50 relative">
    <button class="hidden text-2xl">
      View more
      <details>
        <summary class="flex pt-5 dark:text-white animate-bounce justify-center"
          ><Image
            src={arrow}
            alt="flecha"
            class="w-10 h-auto"
            id="arrow"
          /></summary
        >
      </details>
    </button>
  </div>
  <h1
    class="text-6xl text-center py-48 bg-gradient-to-r from-stone-300 via-stone-400 to-stone-300 bg-clip-text text-transparent"
  >
    About
  </h1>

  <section id="about" class="relative">
    <div class="sm:flex justify-center bg-stone-100 dark:bg-neutral-950">
      <Image
        src={resume}
        alt="CV"
        class="w-full sm:w-2/3 md:w-2/4 z-30 xl:w-1/3 h-auto rounded-sm bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 p-1 shadow-black shadow-2xl"
      />
    </div>
  </section>
  <h1
    class="text-6xl text-center py-48 bg-gradient-to-r from-stone-300 via-stone-500 to-stone-300 bg-clip-text text-transparent"
  >
    Skills
  </h1>
  <section id="skills" class="sm:flex justify-center bg-stone-100 dark:bg-neutral-950 overflow-hidden pb-20">
    <Skills />
  </section>
</Layout>
